<nav ng-controller="TopMenuCtrl" class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-primary">

  <a class="navbar-brand" href="#/index">
        <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{info.name}}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">

    <ul class="navbar-nav mr-auto ml-3">

    </ul>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle link-hover" id="user-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mr Demo
          <i class="fa fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
          <a class="dropdown-item link-hover" ng-click="changePwd()">
            <i class="fa fa-lock fa-fw"></i>
            <span translate>user-change-pwd</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item link-hover" ng-click="showInfo()">
            <i class="fa fa-info-circle fa-fw text-primary"></i><span>Info</span>
          </a>
        </div>
      </li> 
      <li class="nav-item">
        <a class="nav-link" ng-click="logout()" ui-sref="signin">
          <i class="fas fa-sign-out-alt fa-fw"></i>
          <span translate>signout</span>
        </a>
      </li>
    </ul>

  </div>

</nav>

<div class="container">

  <!--    <div class="row">
          <div class="col-md-12">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb" style="background-color: white" breadcrumbs>
                      <li ng-repeat="breadcrumb in breadcrumbs" class="breadcrumb-item">
                          <a class="breadcrumb-item"
                             ui-sref="{{breadcrumb.stateName}}"
                             ng-class="{'active':$last}">
                              {{breadcrumb.text}}
                          </a>
                      </li>
                  </ol>
              </nav>
          </div>
      </div>-->

  <div class="p-3"></div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div ng-controller="TestCtrl" class="row">
           
        <div class="col-md-12">
          <grid config="gridConfig"></grid>
        </div>
        
        <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" translate>delete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Vuoi davvero proseguire con questa operazione?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" translate>no</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeAll()" translate>yes</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="uploadModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Upload</h4>
              </div>
              <div class="modal-body">
                <form novalidate>
                  <div class="form-group">
                    <label for="campo1">Field 1</label>
                    <input type="text" ng-model="data.field1" 
                           ng-focus="data.valid1=true"
                           ng-class="{'invalid-input':!data.valid1}" class="form-control" id="campo1">
                  </div>
                  <div class="form-group">
                    <label for="campo2">Field 2</label>
                    <input type="text" ng-model="data.field2" 
                           ng-focus="data.valid2=true"
                           ng-class="{'invalid-input':!data.valid2}" class="form-control" id="campo2">
                  </div>

                  <div ng-if="data.upload" class="row">
                    <div class="col-md-12">
                      <label>{{getFileName()}}</label>
                      <button class="btn btn-danger btn-sm" type="button" ng-click="data.upload = false">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>

                  <div ng-if="!data.upload">

                    <div class="row">
                      <div class="col-md-12">
                        <h6>
                          <small>Max file size: {{attach.maxSize}}</small>
                        </h6>
                        <div class="btn btn-info btn-sm inline-block"
                             ngf-select ng-model="attach.file" 
                             name="file" 
                             ngf-max-size="{{attach.maxSize}}" 
                             ngf-model-invalid="attach.invalidFiles">
                          {{'choose-file'|translate}}
                        </div>
                        <button class="btn btn-secondary btn-sm inline-block" type="button" ng-click="uploadAttach()">Upload</button>
                        <label class="inline-block"><small>{{attach.file.name}}</small></label>
                        <i ng-if="!data.validFile" class="fa fa-exclamation text-danger"></i>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="progress" style="margin-bottom: 0;margin-top: 6px;height: 14px;" ng-show="attach.progress > 0">
                          <div class="progress-bar progress-bar-striped {{attach.progressEndCls}}" 
                               role="progressbar" 
                               ng-class="attach.progress > 0 && attach.progress < 100 ? 'active' : ''"
                               aria-valuenow="{{attach.progress}}" 
                               aria-valuemin="0"
                               aria-valuemax="100" 
                               style="line-height: 14px"
                               ng-style="{width: attach.progress + '%'}">
                            {{attach.progress}}%
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="color: red">
                        <span>{{attach.progressError}}</span>
                        <span ng-show="attach.invalidFiles.$error">{{'file-max-size'|translate}}</span>
                      </div>
                    </div>
                    
                  </div>
                </form>
                <span ng-if="data.fail" class="text-danger">{{data.fail}}</span>
              </div>
              <div class="modal-footer">
                
                <button type="button" ng-disabled="data.loading" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <button type="button" ng-disabled="data.loading" ng-click="save()" class="btn btn-primary">
                  <loading ng-if="data.loading"></loading>
                  Salva
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>