<div class="container-fluid" id="signin-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mx-auto" style="width: 20rem; margin-top: 2rem;">
              <div class="card-title">
                
                <div class="row text-center mx-auto d-flex flex-row" style="padding: 1.25rem 0 0 1.25rem;">                 
                  <!--<div class="col-1">-->
                    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  <!--</div>-->
                  <!--<div class="col-6">-->
                  <h4 class="ml-2">Bancaetica</h4>
                  <!--</div>-->
                </div>
                
                
              </div>
                <div class="card-body">
                    <form role="form" ng-submit="signin()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" ng-model="username" ng-focus="fail = false">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="password" ng-focus="fail = false">
                        </div>
                        <div style="margin: 1em 0 1em 0;">
                            <div class="alert alert-success text-center" ng-if="success" role="alert">
                                <span translate>signin-success</span>
                            </div>
                            <div class="alert alert-danger text-center" ng-if="fail" role="alert">
                                <div ng-switch on="fail">
                                    <span ng-switch-when="auth-invalid-credential" translate>auth-invalid-credential</span>
                                    <span ng-switch-when="auth-profile-suspended" translate>auth-profile-suspended</span>
                                    <span ng-switch-when="auth-not-authorized" translate>auth-not-authorized</span>
                                    <span ng-switch-default translate>unknow-error</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" 
                                ng-disabled="loading || (!username || !password)"
                                ng-click="fail = false"
                                class="btn btn-primary btn-block">
                            <loading ng-if="loading"></loading>
                            <span translate>signin</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>