<div ng-controller="TestCtrl">

    <div ng-if="data.upload" style="display: inline-block">
        <label>{{data.value.name}}</label>
        <button class="btn btn-danger btn-sm" type="button" ng-click="data.upload = false">
            <i class="fa fa-trash-alt"></i>
        </button>
    </div>

    <div ng-if="!data.upload">

        <div class="row">
            <div class="col-md-12">
                <h5>
                    <small>(Max file size: {{attach.maxSize}})</small>
                </h5>
                <div class="btn btn-info btn-sm inline-block"
                     ngf-select ng-model="attach.file" 
                     name="file" 
                     ngf-max-size="{{attach.maxSize}}" 
                     ngf-model-invalid="attach.invalidFiles">
                    {{'choose-file'|translate}}
                </div>
                <button class="btn btn-secondary btn-sm inline-block" type="button" ng-click="uploadAttach()">Upload</button>
                <label class="inline-block"><small>{{attach.file.name}}</small></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="progress" style="margin-bottom: 0;margin-top: 6px;height: 14px;" ng-show="attach.progress > 0">
                    <div class="progress-bar progress-bar-striped {{attach.progressEndCls}}" 
                         role="progressbar" 
                         ng-class="attach.progress > 0 && attach.progress < 100 ? 'active' : ''"
                         aria-valuenow="{{attach.progress}}" 
                         aria-valuemin="0"
                         aria-valuemax="100" 
                         style="line-height: 14px"
                         ng-style="{width: attach.progress + '%'}">
                        {{attach.progress}}%
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: red">
                <span>{{attach.progressError}}</span>
                <span ng-show="attach.invalidFiles.$error">{{'file-max-size'|translate}}</span>
            </div>
        </div>

    </div>

</div>